.userNameSameCheck {
    font-size: 14px;
    background: #fff;
    margin-bottom: 25px;
    margin-left: -90px;
    border: none;
    font-weight: bold;

}


.userNameSameCheck a:hover {
    font-size: 14px;
    font-weight: bold;
    box-shadow: inset 0 -10px 1px #f8897f;
    text-decoration: none;
}